@import "common/variables";

/** Import everything from autoload */

@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

/** MUSIM SI NAINPORTOVAT STIAHNUTE FOUNDATION ICONY */

/** aj tak ich dat link do headeru, inak bez yarnu sa neobjavia */

@import "foundation-icons/foundation-icons/foundation-icons.css";

/** MENU */

%border-color {
  color: rgba(25, 81, 118, 0.9);
}

%menu-item-border {
  @extend %border-color;

  border-inline-start: 2px solid;
  border-inline-end: 2px solid;
  border-radius: 20%;
}

%menu-background {
  background: url("../images/obr2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

%menu-hover {
  @extend %border-color;

  background-color: rgba(25, 81, 118, 0.5);
  border-bottom: 2px solid;
  border-top: 2px solid;
}

#menu-menu-1 {
  @extend .top-bar;
  @extend .grid-x;
  @extend .icons;
  @extend .icon-left;
  @extend %menu-background;
  @extend %border-color;

  border-bottom: 2px solid;
  box-shadow: 1px 4px 10px 2px rgba(25, 81, 118, 0.35);
}

#menu-menu-1 li a {
  color: black;
  text-align: center;
  text-indent: 10%;
  font-style: italic;
  font-size: 14px;
}

.hababa {
  @extend .top-bar-right;
}

.home-button {
  @extend %menu-item-border;

  border-bottom: 2px solid;
  border-top: 2px solid;
  margin-right: 80px;
}

.nist1,
.nist2,
.nist3,
.hababa {
  @extend .large-1;
  @extend .medium-2;
  @extend .small-12;
  @extend %menu-item-border;

  margin-left: 1px;
}

#menu-item-41,
#menu-item-42,
#menu-item-43 {
  @extend .grid-y;
  @extend .large-auto;
  @extend .medium-auto;
  @extend %menu-item-border;

  background: rgba(231, 225, 225, 0.815);
  margin-bottom: 4px;
  border-bottom: 2px solid;
  border-top: 2px solid;
}

#menu-menu-1 li:hover {
  @extend %menu-hover;
}

.hababa ul {
  @extend .menu;
  @extend %menu-background;

  display: none;
  border-radius: 14%;
  width: inherit;
  padding: 10px;
}

.hababa:hover ul {
  position: absolute;
  display: block;
}

/** MENU */
